{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une adresse</h1>
    <a href="{{ path('account_address') }}">Retour</a>
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <hr>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-6">
            {{ form_row(form.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.company) }}
        </div>
        <div class="col-6">
            {{ form_row(form.address) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.postcode) }}
        </div>
        <div class="col-6">
            {{ form_row(form.city) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.country) }}
        </div>
        <div class="col-6">
            {{ form_row(form.phone) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
